@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    background-color: black;
}

.loading {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.loading-bar-container {
    width: 100px;
    height: 3px;
    background: #272727;
}

.loading-bar {
    height: 3px;
    background: white;
}

.loading-data {
    display: inline-block;
    position: relative;
    font-variant-numeric: tabular-nums;
    margin-top: 0.8em;
    color: #f0f0f0;
    font-size: 0.6em;
}

.header {
    top: -500px;
    z-index: 2;
}

.footer {
    z-index: 2;
}

.loader {
    background-color: #000000;
    z-index: 5;
}

.scroll-button {
    z-index: 3;
}

.maintenance {
    background-color: #000000;
    z-index: 1;
}

.scrollArea {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollArea::-webkit-scrollbar {
    display: none;
}

.logo,
.maintenance {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

.llg-2:hover ~ .llg-1 {
    background-color: red;
}

.llg-2:hover ~ .llg-1.llg-label {
    color: #9ca3af;
}
